name: Cache Testing
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v6
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm i
      - name: Lint the project
        run: npm run lint
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v6
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm i
      - name: Test the project
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.script-file }}
    steps:
      - name: Get the code
        uses: actions/checkout@v6
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm i
      - name: Build the project
        run: npm run build
      - name: Publish JS file name
        id: publish
        run: find dist/assets/*.js -type f -execdir echo "script-file={}" >> "$GITHUB_OUTPUT" ';'
      - name: Upload files
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          path: dist
          # path: |
          #  dist
          #  package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download files
        uses: actions/download-artifact@v6
        with:
          name: dist-files
      - name: Show files
        run: ls
      - name: Output filename
        run: echo "${{ needs.build.outputs.script-file }}"
      - name: Bye message
        run: echo "All steps are executed - bye bye"
