name: Custom action testing
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Get & Cache dependencies
        id: get-cache
        uses: ./.github/actions/cache-modules
        with:
          should-cache: "false"
      - name: Lint code
        run: |
          npm run lint
          echo "Cache used? ${{ steps.get-cache.outputs.cached }}"
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Get & Cache dependencies
        id: get-cache
        uses: ./.github/actions/cache-modules
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: test.json
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Get & Cache dependencies
        id: get-cache
        uses: ./.github/actions/cache-modules
      - name: Build website
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Get build artifacts
        id: build-artifact
        uses: actions/download-artifact@v6
        with:
          name: dist-files
          path: ./dist
      - name: Output contents
        run: ls
      - name: Deploy site
        uses: ./.github/actions/deploy-s3-javascript
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          bucket: some-bucket-name
          bucket-region: some-bucket-region
          dist-folder: ./dist
