name: Matrix testing
on: push

jobs:
  build:
    continue-on-error: true

    strategy:
      matrix:
        node-version: [14, 16, 18]
        os: [ubuntu-latest, windows-latest]
        include:
          - node-version: 20
            os: windows-latest
        exclude:
          - node-version: 14
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build website
        id: build-website
        run: npm run build
