name: Reusable deploy workflow
on:
  workflow_call:
    inputs:
      artifact-name:
        description: name of the deployed file
        required: false
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download files
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls
      - name: Happy end
        run: "Yeeeeeeeey"
